<!-- Footer -->
<footer class="landing-footer bg-body footer-text">
  <div class="footer-top">
    <div class="container">
      <div class="row gx-0 gy-4 g-md-5">
        <div class="col-lg-5">
          <a href="#" class="app-brand-link mb-4">
            <span class="app-brand-logo demo">
               <img src="public/assets/img/front-pages/landing-page/car-logo-footer1.jpeg" class="img-fluid" >
            </span>
            <span class="app-brand-text demo footer-link fw-bold ms-2 ps-1">sharma's Riders</span>
          </a>
          <p class="footer-text footer-logo-description mb-4">
            "The Road Awaits: Rent a Car, Start Your Next Adventure Today".
          </p>
          <form class="footer-form">
            <label for="footer-email" class="small">Subscribe to newsletter</label>
            <div class="d-flex mt-1">
              <input
                type="email"
                class="form-control rounded-0 rounded-start-bottom rounded-start-top"
                id="footer-email"
                placeholder="Your email" />
              <button
                type="submit"
                class="btn btn-primary shadow-none rounded-0 rounded-end-bottom rounded-end-top">
                Subscribe
              </button>
            </div>
          </form>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <h6 class="footer-title mb-4">Demos</h6>
          <ul class="list-unstyled">
            <li class="mb-3">
              <a href="../vertical-menu-template/" target="_blank" class="footer-link">Vertical Layout</a>
            </li>
            <li class="mb-3">
              <a href="../horizontal-menu-template/" target="_blank" class="footer-link">Horizontal Layout</a>
            </li>
            <li class="mb-3">
              <a href="../vertical-menu-template-bordered/" target="_blank" class="footer-link">Bordered Layout</a>
            </li>
            <li class="mb-3">
              <a href="../vertical-menu-template-semi-dark/" target="_blank" class="footer-link"
                >Semi Dark Layout</a
              >
            </li>
            <li class="mb-3">
              <a href="../vertical-menu-template-dark/" target="_blank" class="footer-link">Dark Layout</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <h6 class="footer-title mb-4">Pages</h6>
          <ul class="list-unstyled">
            <li class="mb-3">
              <a href="pricing-page.html" class="footer-link">Pricing</a>
            </li>
            <li class="mb-3">
              <a href="payment-page.html" class="footer-link"
                >Payment<span class="badge rounded bg-primary ms-2">New</span></a
              >
            </li>
            <li class="mb-3">
              <a href="checkout-page.html" class="footer-link">Checkout</a>
            </li>
            <li class="mb-3">
              <a href="help-center-landing.html" class="footer-link">Help Center</a>
            </li>
            <li class="mb-3">
              <a href="/api/login" target="_blank" class="footer-link"
                >Login/Register</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4">
          <h6 class="footer-title mb-4">Contact</h6>
          <div class="mb-3">
            <!-- Links -->
            <p><i class="fas fa-home me-3 footer-link"></i>
              <a href="#" class="footer-link"
              > New York, NY 10012, US</a
            >
          </p>
            <p>
              <i class="fas fa-envelope me-3 footer-link"></i>
              <a href="#" class="footer-link"
              >info@example.com</a
            >
              
            </p>
            <p><i class="fas fa-phone me-3 footer-link"></i>
              <a href="#" class="footer-link"
              >   + 01 234 567 88</a
            >
            </p>
            <p><i class="fas fa-print me-3 footer-link"></i>
              <a href="#" class="footer-link"
              >  + 01 234 567 89</a
            >
             </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom py-3">
    <div
      class="container d-flex flex-wrap justify-content-between flex-md-row flex-column text-center text-md-start">
      <div class="mb-2 mb-md-0">
        <span class="footer-text"
          >©
          <script>
            document.write(new Date().getFullYear());
          </script>
        </span>
        <a href="https://shakambharimata.com" target="_blank" class="fw-medium text-white footer-link">ShakambhariTech,</a>
        <span class="footer-text"> Made with ❤️ for a better web.</span>
      </div>
      <div>
        <a href="https://github.com/pixinvent" class="footer-link me-3" target="_blank">
          <img
            src="public/assets/img/front-pages/icons/github-light.png"
            alt="github icon"
            data-app-light-img="front-pages/icons/github-light.png"
            data-app-dark-img="front-pages/icons/github-dark.png" />
        </a>
        <a href="https://www.facebook.com/pixinvents/" class="footer-link me-3" target="_blank">
          <img
            src="public/assets/img/front-pages/icons/facebook-light.png"
            alt="facebook icon"
            data-app-light-img="front-pages/icons/facebook-light.png"
            data-app-dark-img="front-pages/icons/facebook-dark.png" />
        </a>
        <a href="https://twitter.com/pixinvents" class="footer-link me-3" target="_blank">
          <img
            src="public/assets/img/front-pages/icons/twitter-light.png"
            alt="twitter icon"
            data-app-light-img="front-pages/icons/twitter-light.png"
            data-app-dark-img="front-pages/icons/twitter-dark.png" />
        </a>
        <a href="https://www.instagram.com/pixinvents/" class="footer-link" target="_blank">
          <img
            src="public/assets/img/front-pages/icons/instagram-light.png"
            alt="google icon"
            data-app-light-img="front-pages/icons/instagram-light.png"
            data-app-dark-img="front-pages/icons/instagram-dark.png" />
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- / Footer -->

<div class="content-backdrop fade"></div>
</div>
<!--/ Content wrapper -->
</div>

<!--/ Layout container -->
</div>
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>

<!-- Drag Target Area To SlideIn Menu On Small Screens -->
<div class="drag-target"></div>

<!--/ Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->

<!-- Combined Script Imports -->

<!-- Core JS Files -->
<script src="public/assets/vendor/libs/jquery/jquery.js"></script>
<script src="public/assets/vendor/libs/popper/popper.js"></script>
<script src="public/assets/vendor/js/bootstrap.js"></script>
<script src="public/assets/vendor/libs/node-waves/node-waves.js"></script>
<script src="public/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="public/assets/vendor/libs/hammer/hammer.js"></script>
<script src="public/assets/vendor/libs/i18n/i18n.js"></script>
<script src="public/assets/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="public/assets/vendor/js/menu.js"></script>

<!-- Vendors JS -->
<script src="public/assets/vendor/libs/select2/select2.js"></script>
<script src="public/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
<script src="public/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
<script src="public/assets/vendor/libs/@form-validation/umd/bundle/popular.min.js"></script>
<script src="public/assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js"></script>
<script src="public/assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js"></script>
<script src="public/assets/vendor/libs/cleavejs/cleave.js"></script>
<script src="public/assets/vendor/libs/cleavejs/cleave-phone.js"></script>
<script src="public/assets/vendor/libs/apex-charts/apexcharts.js"></script>
<script src="public/assets/vendor/libs/swiper/swiper.js"></script>
<script src="public/assets/vendor/libs/nouislider/nouislider.js"></script>

<!-- Flat Picker -->
<script src="public/assets/vendor/libs/moment/moment.js"></script>
<script src="public/assets/vendor/libs/flatpickr/flatpickr.js"></script>
<!-- Form Validation -->
<script src="public/assets/vendor/libs/@form-validation/umd/bundle/popular.min.js"></script>
<script src="public/assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js"></script>
<script src="public/assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js"></script>

<!-- Main JS -->
<script src="public/assets/js/main.js"></script>

<!-- Page Specific JS -->
<!-- <script src="/assets/js/app-user-list.js"></script> -->


<script src="/assets/js/dashboards-analytics.js"></script>
<script src="/assets/js/cards-statistics.js"></script>
<script src="/assets/js/front-page-landing.js"></script>


