<nav class="layout-navbar navbar navbar-expand-xl align-items-center bg-navbar-theme" id="layout-navbar">
    <div class="container-xxl">
      <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-4">
        <a href="dashboard.html" class="app-brand-link gap-2">
          <span class="app-brand-logo demo" style="width: 200px; height: 50px;">
            <img src="public/assets/img/front-pages/landing-page/car_logo_footer.png" alt="" class="img-fluid">
          </span>

              <h6 class="h2 text-primary fw-bold mb-1 " style="font-family: none;">Sharma's</h6>
              <h3 class="text-center mb-1"><span class="section-title">Riders </span><br>
              </h3>
            
          
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
          <i class="ti ti-x ti-sm align-middle"></i>
        </a>
      </div>

      <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none d-flex">
          <h6 class="h2 text-primary fw-bold mb-1 " style="font-family: none;">Sharma's</h6>
          <span class="section-title">Riders </span>
          
      </div>

      <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <ul class="navbar-nav flex-row align-items-center ms-auto">
          <!-- User -->
          <li class="nav-item navbar-dropdown dropdown-user dropdown">
            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
              <div class="avatar avatar">
                <img src="public/assets/img/front-pages/landing-page/car_logo_footer.png">
              </div>
            </a>

          
          </li>
          <!--/ User -->
        </ul>
      </div>

      <!-- Search Small Screens -->
      <div class="navbar-search-wrapper search-input-wrapper container-xxl d-none">
        <!-- <input
          type="text"
          class="form-control search-input border-0"
          placeholder="Search..."
          aria-label="Search..." />
        <i class="ti ti-x ti-sm search-toggler cursor-pointer"></i> -->
       

      </div>
    </div>
  </nav>